/* font 
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*/
/*
@font-face
{
    font-family: "Raleway", "sans serif";
    src: url(reservia_files/Raleway-Italic-VariableFont_wght.ttf) format('truetype');
    src: url(reservia_files/Raleway-VariableFont_wght.ttf) format('truetype');

}
*/
@import"https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap";
body{font-family:"Raleway","Sans serif";margin:0}



/*General*/
    img
{
        object-fit: cover;
}
a
{   color:inherit;
    text-decoration:none}
ul
{
    list-style: none;
}
/*Header*/

.top_line img
{
    height: 3em;
    margin-left:1.2em; 
}
.subscrib
{
    margin-right: 1.2em;
}


.top_line p a:hover
{
    color: #F2F2F2;
    background-color: #0065FC;
    padding: 0.8em;
    cursor: pointer;
}

.top_line
{
    display: flex;
    justify-content: space-between;
    padding:0px;
    
}


.subscrib
{
    font-weight: bold;
    color: #0065FC;
}
 
.top_line li
{
    padding-left:2em;
    padding-top: 2em;
    padding-bottom: 1.3em;
    width: 50%;
    border-bottom: 3px solid #F2F2F2;
}



.destop
{
display: flex;
justify-content: space-between;

}

.destop img
{
    margin: 1.8em;
}

/*body*/

h1
{
    font-size: 1.4em;
    font-weight: bolder;
}
.title
{
    
    margin: 1.2em;
    margin-right: 2.5em;
}
.title p
{
    font-weight: 500;
}

/*filtre lieu */

.search_place
{
    display: flex;
    margin: 1.2em;
   min-height: 50px;
   min-width: 340px;
  
}

.search_place :first-child
{
   padding: 1em;
    background-color: #F2F2F2;
    border-radius: 10px 0px 0px 10px;
}

.search_place :last-child
{
    background-color: #0065FC;
    color: #ffffff;
    border-radius: 10px;
}


.button
{

    background-color: #0065FC;
    color: #FFFFFF;
    border-right:#0065FC ;
    border-radius: 0 10px 10px 0;
    padding: 0.5em;
       
    }

/*filtre selection options */
    

.search_option
{
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    align-items: center;
}

.search_option h3
{
    margin-left: 1.2em;
    margin-right: 1.2em;
}

.search_option .fas
{
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 60px;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    padding: 0px;
}

.filter p:last-child {
    padding: 0 10px;
}

.filter {
    height: 40px;
    border: 2px solid #F2F2F2;
    display: flex;
    border-radius: 30px;
    align-items: center;
    transition: all 0.4s ease-in-out;
    margin: 0.5em;
}

.filter p {
    padding: 0;
    margin: 0;
    overflow: hidden; 
}
    

.filter p:last-child {
    padding: 0 10px;
}



.filter:hover
{
    border: 3px solid #0065FC;
    cursor: pointer;

}

.filtre:hover  p
{
border:none
}


.disponible
{
    margin: 1em;
    margin-bottom: 3em;
    margin-top: 3em;
}

.disponible .fas 

{

    color: #0065FC;
    border: 1px solid #DEEBFF ;
    background-color: #FFFFFF;
    border-radius: 50%;
    padding: 0.3em 0.7em;
    width: 0.1em;
    align-items: center;
    justify-content: center;
    margin-right: 0.2em; 
}


footer
{
    background-color:#F2F2F2;
    display: flex;
    flex-wrap: wrap;
    
  width: 100%;
  padding-top: 2em;
   padding-bottom: 4em;
}
ul
{
    list-style-type: none;
    
}

footer ul
{

  
    font-size: 0.8rem;
   
}

footer li
{
    justify-content: space-between;
    padding-top: 0.6em;
    font-size: 0.9rem;
    font-weight: 500;
}






/* règles CSS pour  mobiles  */
@media all and (max-width: 990px)
{

 
.destop 
{
    display: none;
}

.top_line li a:hover
{
    color: #0065FC;
    border-bottom: 3px solid #0065FC;
    padding-bottom: 1.3em;
    cursor: pointer;
}
.search_place .button_destop
{
    display: none;
}

.search_option h3
{
    width: 100%;
}

footer
{
    display: flex;
    flex-direction: column;
}

}


/* règles CSS pour  tablette  */
@media all and (min-width:991px) and (max-width: 1584px)

{
 
 .mobile
 {
     display: none;
 } 

 .destop li
{
border: 0px;
margin-left: 3em;
padding-top: 2em;

}
.destop li :hover
{
    color: #0065FC;
    border-top: #0065FC solid 3px;
    cursor: pointer;
}

.search_place .button .fas
{
    display: none;
}


footer .liste
{

    width: 28%;
  
}
}
 
/* règles CSS pour  ordi  */
@media all and (min-width:1585px) 

{

    .mobile
    {
        display: none;
    } 
   
    .destop li
   {
   border: 0px;
   margin-left: 3em;
   padding-top: 2em;
   
   }
   .destop li :hover
   {
       color: #0065FC;
       border-top: #0065FC solid 3px;
       cursor: pointer;
   }
   
   .search_place .button .fas
   {
       display: none;
   }

   footer .liste
{
  width: 28%;
}

}